.Order {
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
}

.Order .Top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.Order .Top h3 {
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}

.Order .Bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Order .Bottom h2 {
    color: #564FFF;
    font-size: 40px;
}

.Order .Bottom button {
    width: 100%;
}

.Row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.Row h4 {
    font-size: 20px;
    color: #646571;
    text-decoration: line-through;
}

@media screen and (max-width: 950px) {
    .Order {
        max-width: 100%;
    }
}