.User {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: -8px;
    padding-left: 8px;
}

.User div {
    max-width: 380px;
    width: 100%;
    background: #564FFF;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
}

.User div .Content,
.Support div .Content {
    font-size: 14px;
    color: #fff;
}

.User div .Timestamp,
.Support div .Timestamp {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-align: end;
    font-weight: 600;
}

.Support {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-left: 8px;
    padding-right: 8px;
}

.Support div {
    max-width: 380px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 20px 20px 20px 0;
}

.User div::before {
    background: #564FFF;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    content: "";
    height: 10px;
    position: absolute;
    right: -8px;
    width: 8px;
}

.Support div::before {
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    content: "";
    height: 10px;
    left: -8px;
    position: absolute;
    width: 8px;
}

@media screen and (max-width: 500px) {}