.Counter {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 3px;
    border-radius: 5px;
}

.Counter p {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

.Counter svg {
    width: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

.Counter svg:hover {
    color: #fff;
}