.Steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    .Steps {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .Steps {
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
    }
}