.Range {
    width: 100%;
    border: none !important;
    box-shadow: none !important;
}

.Row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.Row div {
    max-width: 120px;
}