.Page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    height: 100%;
}

.Section1 {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding: 80px 0;
    position: relative;
}

.Section1 h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

.Section1::before {
    content: '';
    position: absolute;
    width: 124px;
    height: 124px;
    background: rgba(86, 79, 255, 0.50);
    filter: blur(75px);
    top: 30%;
    left: -100px;
}

.Section1::after {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: rgba(86, 79, 255, 0.50);
    filter: blur(75px);
    top: 70%;
    right: -30px;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.Section1 .Item {
    width: 100%;
    height: 340px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.Section1 .Item img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Section1 .Item .Box {
    width: 100%;
    height: 100%;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Section1 .Item .Box div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Shadow {
    width: 100%;
    height: 260px;
    background: linear-gradient(180deg, rgba(20, 23, 27, 0) 0, rgba(20, 23, 27, .85) 54.69%, #14171b 95.31%);
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.Section1 .Item h3 {
    font-size: 28px;
    color: #eee;
    line-height: 36px;
    font-weight: 600;
}

.Section1 .Item .Box p {
    color: #fff;
    font-size: 18px;
    line-height: 23px;
}

.Section1 .Item .Box h2 {
    color: #564FFF;
    font-size: 32px;
    line-height: 36px;
}

.Row {
    display: flex;
    align-items: center;
    flex-direction: row !important;
}

.Row h4 {
    text-decoration: line-through;
    color: #adadad;
}

.Section2 {
    position: sticky;
    top: 0;
    max-width: 300px;
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.Categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    overflow: hidden;
}

.Categories div {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.5s;
    color: #ffffff80;
}

.Categories div.ActiveCategory {
    background: #564FFF;
    color: #fff;
}

.Categories div:hover {
    background: #564FFF90;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .Section1 {
        padding: 80px 30px;
    }
}

@media screen and (max-width: 1000px) {
    .Grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .Grid {
        grid-template-columns: repeat(1, 1fr);
    }
}