.Module {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

.CreationBox {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    width: 100%;
}

.Button {
    width: fit-content;
    padding: 0 30px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background: #2691F4;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreationBox .Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Button:hover {
    opacity: 0.7;
}

.Button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.Button.Outline {
    border: 1px solid #2691F4;
    background: transparent;
    color: #2691F4;
    font-weight: 700;
}

.List {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Item.Active {
    margin-bottom: 10px;
}

.ItemInfo {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.ButtonUpdate,
.ButtonDelete {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #2691F4;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.ButtonDelete {
    background: #f47526;
}

.ButtonUpdate svg,
.ButtonDelete svg {
    width: 20px;
    height: 20px;
}

.ItemInfo .Controlls {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ItemInfo .Text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UpdateBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.UpdateBox .Row {
    display: flex;
    align-items: center;
    gap: 10px;
}