.Footer {
    width: 100%;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.Box {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Top img {
    width: 100px;
}

.Top div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Top div button svg {
    width: 25px;
    height: 25px;
    color: rgba(255, 255, 255, 0.3);
}

.Bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Bottom ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.Bottom ul li {
    cursor: pointer;
    width: fit-content;
}

.Bottom ul li:hover {
    opacity: 0.7;
}

.Payments {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-bottom: 50px;
}

.Payments svg {
    width: 100px;
    height: auto;
    fill: #505165;
    color: #505165;
}

@media screen and (max-width: 800px) {
    .Bottom {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

@media screen and (max-width: 650px) {
    .Bottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media screen and (max-width: 500px) {
    .Bottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .Top {
        flex-direction: column;
        gap: 30px;
    }

    .Bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .Bottom ul {
        align-items: center;
    }
}