@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background: #050622;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.ql-container.ql-snow {
  border: 1px solid rgba(255, 255, 255, 0.30);
  border-radius: 0 0 15px 15px;
  background: rgba(255, 255, 255, 0.10);
}

.ql-toolbar.ql-snow {
  border: 1px solid rgba(255, 255, 255, 0.30);
  border-radius: 15px 15px 0 0;
  background: rgba(255, 255, 255, 0.10);
  color: #fff;
}

.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.3);
}

.quill ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #564FFF;
  margin-top: 8px;
  border-radius: 100%;
}

.quill ul li {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  line-height: 150%;
  font-size: 16px;
}

.quill ul {
  padding-left: 0;
}

.quill p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.multi-range-slider .caption {
  display: none !important;
}

.multi-range-slider .bar-left,
.multi-range-slider .bar-inner,
.multi-range-slider .bar-right {
  box-shadow: none;
  border: none;
}

.multi-range-slider .thumb::before {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  border-color: #564FFF;
}