.FormBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Form {
    max-width: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}